@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

body {
    background-color: #b8a9c9;
    padding-top: 85px;
}

h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}
#row2 {
    padding: 20px;
    margin: 20px;
    align-items: center;
}

footer {
    float: auto;
    margin-top: 50px;
}

img {
    padding: 20px;
    margin: 20px;
    size: 50%;
}